<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.myproject.etc.sms.mapper.SmsSendOneMapper" >
  <!--<cache type="org.mybatis.caches.redis.redis.RedisCache" />-->
  <resultMap id="BaseResultMap" type="SmsSendOne" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="sign_name" property="signName" jdbcType="VARCHAR" />
    <result column="template_code" property="templateCode" jdbcType="VARCHAR" />
    <result column="template_param" property="templateParam" jdbcType="VARCHAR" />
    <result column="out_id" property="outId" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, phone_num, sign_name, template_code, template_param, out_id, version, create_time
  </sql>
  <sql id="table_name">
    sms_send_one
  </sql>
  <select id="getByOutId" resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="Base_Column_List" />
    from
    <include refid="table_name" />
    where out_id = #{outId}
  </select>
  <select id="countByOutId" resultType="int" parameterType="String">
      select
      count(1)
      from
      <include refid="table_name" />
      where out_id = #{outId}
  </select>

  <insert id="insert" parameterType="SmsSendOne">
    insert into  <include refid="table_name" /> (phone_num, sign_name, template_code, template_param, out_id, version, create_time)
    VALUES
    (#{phoneNum},#{signName},#{templateCode},#{templateParam},#{outId},#{version},#{createTime})
  </insert>

  <update id="update" parameterType="SmsSendOne">
    update  <include refid="table_name" />
    set request_id = #{requestId},code = #{code}, message = #{message},biz_id = #{bizId}
    where out_id = #{outId}
  </update>

</mapper>